/* style.css */
/* general styles */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* header styles */
header {
  background-color: #3f51b5;
  color: white;
  padding: 20px;
}

header h1 {
  font-size: 36px;
}

header p {
  font-size: 18px;
}

/* main styles */
main {
  padding: 20px;
}

/* board styles */
#board {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 30%;
  min-height: 400px;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
}

.column h2 {
  text-align: center;
}

.card-list {
  list-style-type: none;
  overflow-y: auto;
  height: 300px;
  margin-top: 20px;
}

.card-list li {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}
.card-list li:hover {
  cursor: pointer;
}
.card-list li.dragging {
  opacity: 0.5;
}

.card-list li p:first-child {
  font-weight: bold;
}

/* form styles */
#form {
  margin-top: 20px;
}

#feedback-form {
}

#feedback-title,
#feedback-description,
#submit-button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
}

#feedback-title {
  height: 40px;
  border: 1px solid #3f51b5;
  border-radius: 5px;
  padding-left: 10px;
}

#feedback-description {
  height: 100px;
  border: 1px solid #3f51b5;
  border-radius: 5px;
  padding: 10px;
}

#submit-button {
  height: 40px;
  width: 200px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 10px;
}

#submit-button:hover {
  cursor: pointer;
}
